<ng-container *ngIf="!mobile">
    <h1>Improve your Profile</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload high quality pictures of your driving school</h5>
                    <p class="card-text">
                        currently you are using one of our sample pictures. In order to increase your confidence in potential driving schools, we recommend that you upload your own images.
                    </p>
                    <a href="#" class="btn btn-primary">Add Pictures</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Invite your colleagues</h5>
                    <p class="card-text">
                        To benefit from our software in the best possible way, all your colleagues should use our services. Here you can easily invite them
                    </p>
                    <a href="#" class="btn btn-primary">Invite Colleagues</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create license certificate with price saving</h5>
                    <p class="card-text">
                        With this service you can apply for license certificates by clicking on below button.
                    </p>
                    <a href="#" class="btn btn-primary">Apply for driving License</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>