<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-student-profile></app-student-profile>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <app-edit-profile></app-edit-profile>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <app-time-requests></app-time-requests>
    </div>

    <div class="col-md-6">
      <app-student-requests></app-student-requests>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <app-event-calender></app-event-calender>
    </div>
    <div class="col-md-6">
      <app-students-progress></app-students-progress>
    </div>
  </div>


</div>